.wrap {
  padding: 10px 20px;
  display: flex;
}
.content {
  flex: 1;
  margin-right: 2rem;
}
.header_extra_content {
  min-width: 240px;
  text-align: center;
}
.header_extra_content img {
  max-width: 300px;
}
.header_extra_content i {  
  font-size: 120px;
}
.header_content_link {
  padding-top: 2px;
}
.header_content_link a {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 32px;
  color: #348bff;
}
.header_content_link a img {
  margin-right: 8px;
}
